<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--http://www.w3.org/1999/xhtml">-->
<head>
    <meta charset="UTF-8">
    <title>Sign Up Sheet</title>
    <link href="/css/SignUp.css" rel="stylesheet">
</head>
<body>
<h1> Sign Up </h1>

    <div class="container">
        <div class="message" th:if="${message != null}">
            [[${message}]]
        </div>
        <h1>Register</h1>
        <p>Please fill up this form </p>
        <hr>
        <form th:action="@{/createAccount}" method="post" role="form" th:object="${user}">
        <label for="username"><b>Username</b></label>
        <input th:field="*{username}" type="text" placeholder="Enter Username" name="username" id="username" required>

        <label for="password"><b>Enter Password</b></label>
        <input th:field="*{password}" type="password" placeholder="Enter password" name="password" id="password" required>

        <label for="email"><b>Email</b></label>
        <input th:field="*{email}"  type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="contactNum"><b>Phone Number</b></label>
        <input th:field="*{contactNum}" type="text" placeholder="Enter Phone Number" name="contactNum" id="contactNum" required>

<!--        <label for="birthday"><b>Date of Birth</b></label>-->
<!--        <input type="date" placeholder="Enter Birth Date" name="birthday" id="birthday" required>-->

        <hr>

        <input type="submit" value="Submit Form">
        </form>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
</form>

</body>
</html>


